{%- include scripts/root.html -%}
<h4>Recent Posts</h4>
<ul class="blog-title-list">
  {% for post in site.posts limit: 5 %}
    <li>
      {% comment %}
        Because post.url is an absolute path (that begins with "/") it
        does not need an additional "/" after specifying the root location
      {% endcomment %}
      <a href="{{root}}{{post.url}}">{{post.title}}</a>
      <span>Posted: {{post.date | date: '%d %B %Y' }}</span>
      <div class="post-author">
        {{post.author}}
        <img src="{{post.gravatar}}" alt="Gravatar of {{post.author}}">
      </div>
    </li>
  {% endfor %}
</ul>
