---
layout: default
---
{% include scripts/root.html %}

<div class="page blog-index">
  <h1>Bloggie Blog</h1>
  <div class="col-two blog-cols">
    <div class="col col-aside blog-recent">
      {% include recent-posts.html %}
    </div>
    <div class="col col-content blog-previews">
      {% for post in site.posts %}
        <div class="blog-posts">
          <header class="post-header">
            <h2><a href="{{root}}{{post.url}}">{{post.title}}</a></h2>
            <div class="post-byline">
              <img src="{{post.gravatar}}">
              <a href="{{post.authorTwitter}}" class="social-link">Tw</a>
              by {{post.author}} - 
              <span>{{post.date | date: '%d %B %Y' }}</span>
            </div>
          </header>
          {% if post.postHero %}
            <div class="posts-image" 
              style="background-image:url({{root}}{{post.postHero}});">
            </div>
          {% endif %}
          {%- comment -%}
            Simplified version of root algorithm to get the root location from
            the post, only to replace it with the current page root location.
            This is needed for the edge case that a relative URL appears in the
            post excerpt. 
          {%- endcomment -%}
          {%- assign post_root = ".." -%}
          {%- assign depth = post.url | split: '/' | size | minus: 1 -%}
          {%- for i in (3..depth)-%}
            {%- assign post_root = post_root | append: '/..' -%}
          {%- endfor -%}

          {{post.excerpt | replace: post_root, root}}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
