{%- assign depth = page.url | split: '/' | size -%}
{%- assign last_char = page.url | slice: -1 -%}
{%- comment -%}
  Normally would use minus: 1 but that seems to break the "index.html" of a 
  sub-folder
{%- endcomment -%}
{%- if last_char != '/' -%}
  {%- assign depth = depth | minus: 1 -%}
{%- endif -%}

{%- if depth <= 1 -%}
  {%- assign root = '.' -%}
{%- elsif depth >= 2 -%}
  {%- assign root = '..' -%}
{%- endif -%}

{%- for i in (3..depth)-%}
  {%- assign root = root | append: '/..' -%}
{%- endfor -%}

