---
layout: default
---
{%- include scripts/root.html -%}
<div class="post">
  {% if page.postHero %}
    <div class="half-hero" style="background-image: url(
      {{root}}{{page.postHero}});">
    </div>
  {% endif %}

  <div class="page">
    <article class="page-content">
      <header class="post-header">
        <h1>{{ page.title }}</h1>
        <div class="post-byline">
          <img src="{{ page.gravatar }}" alt="Gravatar of {{ page.author }}">
          <a href="{{ page.authorTwitter }}" class="social-link">
            <i class="fab fa-twitter"></i>
          </a>
          by: {{ page.author }}
          <span> - {{ page.date | date: '%d %B %Y' }}</span>
        </div>
      </header>
      <!-- WHY is the aside inside the article? -->
      <div class="post-content">
        {{ content }}
      </div>
      <footer class="post-footer">
        {{ page.postFooter }}
      </footer>
    </article>
    <aside class="post-aside">
      {% include recent-posts.html %}
    </aside>
  </div>
</div>

